<div class="form-container">
  <mat-card class="card-container">
      <mat-card-header>
          <mat-card-title>Edit a TODO</mat-card-title>
          <mat-card-subtitle>Update a Todo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="todoEditForm" (ngSubmit)="onUpdateSubmit()" class="todo-forms">
            <div class="row">
              <mat-form-field class="todo-half-width">
                <mat-label>Title</mat-label>
                <input type="text" matInput formControlName="title" name="title" placeholder="Title" required>
              </mat-form-field>

              <mat-form-field class="todo-half-width">
                <mat-label>Dead line Date</mat-label>
                <input matInput formControlName="dateLimit" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="row">
              <mat-form-field class="todo-full-width">
                <mat-label>Description</mat-label>
                <textarea type="text" matInput formControlName="description" name="description" placeholder="Describe about the todo." required></textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="todo-full-width">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority" required>
                  <mat-option *ngFor="let priority of priorities" [value]="priority.viewValue">
                    {{priority.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button class="todo-full-width" mat-raised-button color="accent" [disabled]="!todoEditForm.valid"> Update TODO</button>
          </form>

      </mat-card-content>
  </mat-card>
</div>
